{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FooDil</title>

    <link rel="stylesheet" href="{% static 'customer/css/style.css' %}?after">

    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--font awesome link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />

    <script type="text/javascript">
        function getToken(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    // Does this cookie string begin with the name we want?
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }
        const csrftoken = getToken('csrftoken');
        /*
                function getCookie(name) {
                    let cookieArr = document.cookie.split(";");

                    for (let i = 0; i < cookieArr.length; i++){
                        let cookiePair = cookieArr[i].split("=");

                        if (name == cookiePair[0].trim()) {
                            return decodeURIComponent(cookiePair[1]);
                        }
                    }
                    return null;
                }
                let cart = JSON.parse(getCookie('cart'))
                if(cart == undefined){
                    cart = {}
                    console.log('Cart was created')
                    document.cookie = 'cart=' + JSON.stringify(cart) + ";domain=path=/"
                }

                console.log('cart:', cart) */
    </script>
</head>

<body>
    <div class="culmn">
        <nav class="main_navbar">
            <div class="navbar__logo">
                <i class="fa-brands fa-gratipay"></i>
                <a href="{% url 'index' %}">FooDil</a>
            </div>

            <ul class="navbar__menu">
                <li><a href="{% url 'main' %}">FooDil Main</a></li>

                {% if request.user.is_anonymous %}
                <li><a href="{% url 'signup' %}">Sign Up</a></li>
                {% endif %}
                {% if user.is_authenticated %}
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'logout' %}">Log Out</a></li>
                {% else %}
                <li><a href="{% url 'login' %}">Login</a></li>
                {% endif %}
                <li><a href="{% url 'order' %}">Order</a></li>
                <li><a href="{% url 'cart' %}">Cart</a></li>
            </ul>

            {% if user.is_authenticated %}
            <ul class="navbar__hello">
                <li id="hello-msg">
                    <div class="dropdown show">
                        <a class="btn myDropdown dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
                            style="box-shadow:none; outline:none;">
                            Hi, {{ request.user.first_name }}
                        </a>

                        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <a class="dropdown-item" href="{% url 'cart' %}"> <i class="fa-solid fa-cart-shopping"
                                    style="margin-right: 5px;"></i> My cart</a>
                            <a class="dropdown-item" href="{% url 'checkout' %}"><i class="fa-brands fa-cc-paypal"></i>
                                Checkout</a>
                            <a class="dropdown-item" href="#"> <i class="fa-solid fa-key"></i>
                                Change Password</a>
                            <a class="dropdown-item" href="{% url 'logout' %}"> <i
                                    class="fa-solid fa-right-from-bracket" style="margin-right: 5px;"></i> Sign Out</a>
                            <a class="dropdown-item" href="#"> <i class="fa-solid fa-ban"></i> Delete Account</a>
                        </div>
                    </div>
                </li>
            </ul>
            {% endif %}

            <ul class="navbar__links">
                <li><a href="http://facebook.com"><i class="fa-brands fa-facebook"></i></a></li>
                <li><a href="http://instagram.com"><i class="fa-brands fa-instagram"></i></a></li>
            </ul>

            <a href="#" class="navbar__toggleBtn">
                <i class="fa-solid fa-bars"></i>
            </a>
        </nav>

        {% block content %}

        {% endblock %}

    </div>

    <!--Bootstrap JS-->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous">
    </script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous">
    </script>

    <!--Sweet Alert-->
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js">
    </script>

    <script src="{% static 'customer/javascript/main.js' %}" type="text/javascript"></script>

    <script src="{% static 'customer/javascript/cart.js' %}" type="text/javascript"></script>

    {% include 'customer/footer.html' %}
</body>

</html>