{% extends 'customer/base.html' %}

{% load static %}

{% block content %}
<center>
    <br>
    <h3>{{ request.user.first_name }} 's cart</h3>
    <a class="btn btn-outline-dark" href="{% url 'order' %}">&#x2190; I want to add more items</a>
    <br><br>

</center>
<div class="container">
    <div class="col-lg-12">
        <div class="box-element">

            <br>
            <br>
            <table class="table">
                <tr>
                    <th>
                        <h5>Items: <strong>{{order.get_cart_items}}</strong></h5>
                    </th>
                    <th>
                        <h5>Total:<strong> $ {{order.get_cart_total|floatformat:2}}</strong></h5>
                    </th>
                    <th>
                        <a style="float:right; margin:5px; text-decoration: none;" class="myBtn" style= "background-color: #fddc57;" href= "{% url 'checkout' %}" >Checkout</a>
                    </th>
                </tr>
            </table>

        </div>

        <br>
        <table class="table text-center" style="font-family: 'Montserrat', sans-serif;">
            <thead>
                <tr>
                    <th scope="col">Item</th>
                    <th scope="col">Price</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total</th>
                </tr>
            </thead>
            <tbody>
                {% for item in items %}
                <tr>
                    <td>{{item.item.item}}</td>
                    <td>{{item.item.price}}</td>
                    <td>
                        {{item.quantity}}
                        <div class="quantity" style="display: inline-block; font-weight: 700; padding-right:10px;">
                            <img data-item="{{item.item.id}}" data-action="add" class="chg-quantity update-cart"
                                src="{% static 'customer/images/arrow-up.png' %}" style="width: 12px;background-color: #fff; cursor: pointer; display:block; margin-top: 3px; margin-left: 5px;">

                            <img data-item="{{item.item.id}}" data-action="remove"
                                class="chg-quantity update-cart" src="{% static 'customer/images/arrow-down.png' %}" style="width: 12px; background-color: #fff; cursor: pointer; display:block; margin-top: 5px; margin-left: 5px;">
                        </div>
                    </td>
                    <td><p>${{item.get_total|floatformat:2}}</p></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}