{% extends 'customer/base.html' %}

{% load crispy_forms_tags %}

{% load static %}

{% block content %}

<div class="container">
    <br>
    <h1 class="text-center">Change Password</h1>
    <br><br>
    <h5><form method="post">
        {% csrf_token %}
        {{ form  }}
        <button class="myBtn" type="submit">Save changes</button>
    </form></h5>
</div>

{% for message in messages %}
{% if message.tags == 'success' %}
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script>
    let msg = "{{ message }}";
    // swal("Thank you!", msg, "success")
    swal({
        title: "Perfect!",
        text: msg,
        type: "success"
    }).then(function () {
        window.location = "{% url 'index' %}"
    });

</script>
{% endif %}
{% endfor %}
{% endblock %}