{% load static %}

<style>
    .company {
        margin-right: 50px;
    }
</style>

<div id="wrapper">
    <div class="bg-black" id="footer">
        <section class="text-white" style="font-size: 24px; font-family: 'Montserrat', sans-serif; font-weight: bold;">
            Contact Us
        </section>
        <br>
        <section class="text-white">
            <p>Email: support@foodil.com</p>
            <p>Phone: +1-212-345-7891</p>
            <p>Location: 47 W 34th St, New York, NY 10001</p>
        </section>
        <hr>
        <small class="text-white company">Privacy Policy</small>
        <small class="text-white company">Terms</small>
        <small class="text-white company">Pricing</small>
        <small class="text-white compnay">Do not sell my info (California)</small>
    </div>
</div>