{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FooDil Main</title>

    <link rel="stylesheet" href="{% static 'customer/css/style.css' %}?after">

    <!--Google Font link-->
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Droid+Serif:400,400i,700,700i" rel="stylesheet">
    <link
        href="https://fonts.googleapis.com/css?family=Raleway:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">

    <!--Bootstrap CSS-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!--font awesome link-->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"
        integrity="sha512-9usAa10IRO0HhonpyAIVpjrylPvoDwiPUiKdWk5t3PyolY1cOd4DSE0Ga+ri4AuTroPR5aQvXU9xC6qOPnzFeg=="
        crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>

<body>

    <center id="main">
        <section id="home" class="fix">
            <div class="container">
                <div class="row">
                    <div class="main_home text-center">
                        <div class="col-md-12">
                            <div class="home_text">
                                <h1 class="text-yellow" style="margin-top: 70px;">Welcome to FooDil</h1>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <br>
        <section>
            <img style="width: 700px; height: 500px;" src="{% static 'customer/images/main.gif' %}" />
        </section>
        <br>
        <h1><a href="{% url 'index'%}" class="btn-warning myBtn" style="text-decoration: none; ">I am a customer</a></h1>
        <br>
        <br>
        <h1><a href="{% url 'r_index'%}" class="btn-primary myBtn" style="text-decoration: none;">I am a restaurant staff</a></h1>
    </center>
</body>

</html>