{% extends 'customer/base.html' %}

{% load static %}

{% block content %}

<style>
    .hidden {
        display: none
    }
</style>

<br>

<center class="container">
    <h1>Your order status </h1>
    <hr>
    {% if not info %}
    <h1>Hmm...</h1>
    <br>
    <img src="{% static 'customer/images/dishes.gif' %}" />
    <br><br>
    <h3>Looks like you have not ordered anything.</h3> <br>
    <h5>Click <a href="{% url 'cart' %}">here</a> if you've already added items.</h5> <br>
    <h5>Otherwise, click <a href="{% url 'order' %}">here</a> to explore nearby restaurant!</h5>

    {% else %}
    <form id="form">
        {% for x in info %}
        <br>
        <h4>
            <section>
                <i class="fa-solid fa-burger"></i> <strong>You ordered: </strong>
                {% for item in items %}
                {% if item.transaction_id == x.transaction_id %}
                {{item.item}},
                {% endif %}
                {% endfor %}
            </section>
        </h4>
        <h5>
            <div class="form-group row">
                <label for="customer" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-user"></i> Recipient
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext"
                        value="{{request.user.first_name}} {{request.user.last_name}}">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="status" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-circle-question"></i> Status
                </label>
                <div class="col-sm-10">
                    <input type="text" id=status readonly class="form-control-plaintext" value="{{x.status}}">
                </div>
            </div>
            <br>

            <div class="form-group row">
                <label for="delivery_option" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-truck"></i> Delivery Option
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="{{x.delivery_option}}">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="note" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-circle-exclamation"></i> Note
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control-plaintext" value="{{x.note}}">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="address_1" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-road"></i> Address 1
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="{{x.address_1}}">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="address_2" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-building"></i> Address 2
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="{{x.address_2}}">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="city" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-city"></i> City
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="{{x.city}}">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="state" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-flag-usa"></i> State
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="{{x.state}}">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="zip" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-location-dot"></i> Zip
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="{{x.zip_code}}">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="time" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-clock"></i> Order submitted at
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="{{x.addedDate}} (EST)">
                </div>
            </div>
            <br>
            <div class="form-group row">
                <label for="tid" class="col-sm-2 col-form-label">
                    <i class="fa-solid fa-comments-dollar"></i> Transaction id
                </label>
                <div class="col-sm-10">
                    <input type="text" readonly class="form-control" value="{{x.transaction_id}}">
                </div>
            </div>

        </h5>
        <br>
        {% if x.status == 'Delivered' %}
        <a class="myBtn" href="#">Leave review</a>
        {% else %}
        <h5><strong>You can write a review after the food is delivered</strong></h5>
        {% endif %}

        <hr>
        {% endfor %}
    </form>

    

    <h4 style="color: red"><strong>If any information above is incorrect, please call the restaurant as soon as
            possible.</strong></h4>
    {% endif %}
    <br>
</center>
{% endblock %}