{% extends 'restaurant/base.html' %}

{% block content %}
<section id="home" class="home bg-black fix">
    <div class="container">
        <div class="row">
            <div class="main_home text-center">
                <div class="col-md-12">
                    <div class="home_text">
                        <h1 class="text-yellow">Welcome to FooDil Business</h1>
                        <h3 class="text-white text-uppercase">Thank you for being our partner!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section id="about" class="about bg-yellow roomy-80">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="main_about text-center">
                    <h1 class="text-black">Easy and Simple </h1>
                    <h2 class="text-white"> <i class="fa-solid fa-handshake"></i> </h2>
                    <h3 class="text-black text-uppercase">Manage your data effectively!</h3>

                    <a href="#" id="orderBtn" class="btn btn-light btn-lg m-top-100">Manage Info</a>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock %}