{% extends 'restaurant/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<div class="container">
    <br>
    <center>
        <h2>Orders Received</h2>
    </center>
    <br>
    <h4 class="text-center">Customer Info</h4>
    <table class="table table-bordered text-center">
        <thead style="background-color: #fddc57;">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Note</th>
                <th scope="col">Address</th>
                <th scope="col">Status</th>
            </tr>
        </thead>
        <tbody>
            {% for x in info %}
            <tr>
                <td>{{x.username}}</td>
                <td>{{x.note}}</td>
                <td>{{x.address_2}} {{x.address_1}} {{x.city}} {{x.state}} {{x.zip_code}}</td>
                <td>{{x.status}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h4 class="text-center">Orders</h4>
    <table class="table table-bordered text-center">
        <thead style="background-color: #fddc57;">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Items</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{order.order}}</td>
                <td>{{order.item}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<!--pagination, add more data, status change ... -->

{% endblock %}