{% extends 'restaurant/base.html' %}

{% load crispy_forms_tags %}

{% block content %}
<style>
    #submitBtn {
        height: 40px;
        width: 50px;

    }
</style>

<div class="container">
    <br>
    <center>
        <h2>Orders Received</h2>
    </center>
    <br>
    <h4 class="text-center">Customer Info</h4>
    <table class="table table-bordered text-center">
        <thead style="background-color: #fddc57;">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Note</th>
                <th scope="col">Address</th>
                <th scope="col">Transaction ID</th>
                <th scope="col">Status</th>
                <th scope="col">Update status</th>
            </tr>
        </thead>
        <tbody>
            {% for x in info %}
            <tr>
                <td>{{x.username}}</td>
                <td>{{x.note}}</td>
                <td>{{x.address_2}}, {{x.address_1}}, {{x.city}}, {{x.state}}, {{x.zip_code}}</td>
                <form id="form">
                <td><input style="border: none;" type="text" name='transaction_id' readonly value="{{x.transaction_id}}"></td>
                <td>
                    <select name="status" id="stuats" class="form-select form-select-md"
                        aria-label=".form-select-sm example">
                        <option value="{{x.status}}">{{x.status}}</option>
                        <option value="Order Received">Order Received</option>
                        <option value="Preparing">Preparing</option>
                        <option value="Picked up">Picked up</option>
                        <option value="Delivered">Delivered</option>
                    </select>
                </td>
                <td><button class="myBtn btn-success update-btn" id="submitBtn"><i
                            class="fa-solid fa-pen-to-square"></i></button>
                </td>
                </form>

            </tr>
            {% endfor %}
        </tbody>
    </table>
    <hr>
    <h4 class="text-center">Orders</h4>
    <table class="table table-bordered text-center">
        <thead style="background-color: #fddc57;">
            <tr>
                <th scope="col">Name</th>
                <th scope="col">Items</th>
            </tr>
        </thead>
        <tbody>
            {% for order in orders %}
            <tr>
                <td>{{order.order}}</td>
                <td>{{order.item}}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

<script>
    let form = document.getElementById('form')
    let update = document.getElementsByClassName('update-btn')

    for (let i = 0; i < update.length; i++) {
        update[i].addEventListener('click', function () {
            console.log('status updated')

            updateStatus()
        })
    }

    function updateStatus() {
        console.log("updating...")

        let statusData = {
            'transaction_id': form.transaction_id.value,
            'status': form.status.value,
        }

        let url = '../update_status'

        fetch(url, {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                    'X-CSRFToken': csrftoken,
                },
                body: JSON.stringify({
                    'form': statusData
                })
            })
            .then((response) => response.json())
            .then((data) => {
                alert("updated!")
                
                swal({
                    title: "Status updated!",
                    text: "The customer can view their updated status :)",
                    type: "success",
                }).then(function () {
                    window.location.href = "{% url 'orders' %}"
                })
            })
    }
</script>

{% endblock %}